# macOS specific
.DS_Store

# Avoid committing file locks to remote
~$*

# Ignore .docx, .xlsx, and .pptx
# 
# One should avoid commiting large binary files (PowerPoint presentations with images) as
# Github isn't meant for file storage. You can recreate the original files by running the
# zip.sh script. Use another sync service such as OneDrive alongside these scripts.
#
# The unzipped form of these files will benefit from Git's compression abilities and as the
# script also adds line breaks, the diffs will be somewhat readable.
*.docx
*.xlsx
*.pptx
*.tmp